.navbar {
    width: 20%;
    float: left;
    padding: 1.5rem;
    background: #004DBC;
    color: white;
    height: 100%;
    
}
.navbar a {
    font-size: 16px;
    color:white;
    text-decoration: none;
}