.navbar {
    width: 20%;
    float: left;
    background: #004DBC;
    color: white;
    height: 100%;
    
}
.navbar ul li a {
    font-size: 16px;
    color:white;
    text-decoration: none;
    line-height: 2rem;
}
.navbar ul{
    color:white;
}
.mat-drawer {
    background: #004DBC;
}